@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding-bottom: 100px;
    background-color: #181818;
    color: white;
    font-family: "Anonymous Pro";
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: #181818;
    width: 100%;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.burger {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: white;
    opacity: 0.8;
    padding-top: 60px;
    transition: right 0.5s ease;
}

.burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #181818;
    display: block;
    transition: 0.3s;
}

.burger a:hover {
    width: 300px;
    color: #b4b4b4;
}

.burger ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger.active {
    right: 0;
}

.burger .close {
    position: absolute;
    top: 0;
    font-size: 40px;
}

.burger-bar span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.container-reso {
    height: 800px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.container-main-descri {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wel-opac {
    position: absolute;
    top: 0;
    font-size: 100px;
    opacity: 0.2;
}

.dlcv {
    margin: auto;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #181818;
    color: white;
    width: 200px;
    height: 50px;
}

.reso {
    display: flex;
}

.logores {
    width: 35%;
}

.logo-reso {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre {
    margin: auto;
    height: 500px;
    border: 1px solid white;
}

.darkh1 {
    padding: 10px;
    color: white;
    width: 40%;
    text-decoration: none;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 25px;
    height: 30px;
}

.container-content {
    width: 30%;
    margin-left: 100px;
}

.container-apropos {
    width: calc(100% - 100px);
    margin-left: 100px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descri {
    width: 80%;
    height: 100px;
    font-family: "Raleway", sans-serif;
}

.push-me {
    display: flex;
    text-align: center;
    align-items: center;
}

.lien {
    margin-right: 20px;
    width: 50%;
    height: 30px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio {
    margin-left: 100px;
}

.container-portfolio {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;

}

#pf {
    background-color: white;
    color: #181818;
}

.container-reso {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.container-contact {
    margin-top: 10%;
    gap: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    height: 100vh;
}

.profil {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    border: 1px solid white;
}

@keyframes scrolling {
    0% {
        transform: translateX(-0vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

.logo-skills {
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    animation: scrolling 10s linear infinite;
}

.logo-skills img:hover {
    scale: 1.5;
}

.logores:hover {
    scale: 1.3;
}

.projet-dev {
    display: flex;
}

.projet-graph {
    display: flex;

}

li {
    list-style-type: none;
}

.inp {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    margin: 20px;
}

.mess {
    margin: 20px;
}

textarea {
    background-color: transparent;
    color: white;
}

.inp button {
    margin: 20px;
}

.container-contact h2 {
    border-bottom: 1px solid white;
    width: 100%;
    line-height: 150px;
}

.contact-content {
    width: 40%;
}

.container-descri-projet {
    margin: auto;
    color: #181818;
    background-color: white;
    width: 40%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rota {
    width: 50%;
}

.encre {
    width: 10%;
}

.abs {
    position: absolute;
}

.container-relative {
    flex: 2;
    height: fit-content;
    position: relative;

}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.pos {
    left: 25%;
    opacity: 0.1;
    top: 50px;
}

.line-vert {
    width: 1px;
    height: 100%;
    margin: auto;
    background-color: white;
}

.container-flex {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.size-1 {
    flex: 1;
}

@media(max-width : 768px) {

    header {
        width: 100vw;
        top: 0;
    }

    .container-content {
        margin-left: 60px;
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .wel {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
        width: 200%;
    }

    .container-main-descri {
        flex-direction: column-reverse;
    }

    .push-me {
        width: 80%;
    }

    footer {
        width: 100%;
    }

    .profil {
        width: 100%;
        height: 50vh;
        margin-top: 40px;
    }

    .logo-skills {
        width: 100%;
    }

    .logo-skills img {
        width: 80%;
    }

    .container-apropos {
        width: 100%;
        margin: 30px;
        height: 100%;
    }

    .container-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }

    .descri {
        height: 100%;
        width: 100%;
    }

    .logores {
        height: 20px;
    }

    .container-reso{
        width: 100%;
        justify-content: space-around;
        writing-mode: horizontal-tb;
    }

    .reso {
        display: flex;
        width: 100%;
    }

    .container-reso {
        margin: 0;
        height: auto;
    }

    .barre {
        display: none;

    }

    .portfolio {
        margin: 30px;
    }

    .projet-dev div img {
        width: 100%;
    }

    .container-descri-projet {
        height: 25vh;
    }

    .projet-graph div img{
        width: 100%;
    }

    .container-contact {
        margin: 30px;
    }
}